.panel-heading{
    margin-top: 20px;
    margin-bottom: 15px;
    height: 38px;
}
.left-panel{
    width: 100%;
    height: 100%;
    display: flex;
}
.panel-heading-item.item-btn {
    right: 5.5%;
}
.btn-search{
    margin: 0 10px;
}
table li a{
    color: #0d71af;
}
table li a:hover{
    color: #0d71af;
    opacity: 0.5;
}
.list-inline-item:not(:last-child){
    margin-right: 0;;
}
.table td, .table th {
    padding: 5px;
    vertical-align: middle;
}
ul.list-inline {
    margin-bottom: 0px;
}
.footer .pagination {
    width: 180px;
    position: absolute;
    right: 0;
    background-color: #0d71af;
}

.footer .pagination li {
    list-style: none;
    margin: 7px 3px;
}
.footer .pagination li.disabled{
    opacity: 0.5;
    pointer-events:none;
}
.footer .pagination li.not-current{
    opacity: 0.5;
}

table .popup a{
    color: #007bff;
    text-decoration: underline;
}
table .popup a{
    color: #007bff;
}
.width-5{
    width: 5%;
}
.width-10{
    width: 10%;
}
.width-15{
    width: 15%;
}
.width-20{
    width: 20%;
}
.width-30{
    width: 30%;
}
.width-40{
    width: 40%;
}
.width-50{
    width: 50%;
}

.label-content{
    width: 100%;
    display: flex;
}
.label-content .label{
    width: 30%;
}
.label-content .content{
    width: 70%;
}

